<% @entry_kit = t["products"].first %>
<div class="row formItem">
  <div class='small-12 columns'>
    <small class='right'>Taxes and Shipping included for all promotional packs.</small>
    <label for="oneYear">
      <input type="checkbox" class='entry_kit' data-pv='<%= product_pv @entry_kit%>' data-price="<%= @entry_kit['price'] %>" data-image="<%= product_image_url @entry_kit %>" data-name="<%= @entry_kit['name']%>" name='entry_kit' disabled='disabled' checked='checked' value="<%= variant_id @entry_kit %>" id="oneYear" >
      
      Enhanced virtual office kit (<%= number_to_currency @entry_kit['price']%>) </label>
    </div>
  </div>