
<div class="row formItem">
  <div class='small-12 columns'>
    <table width='100%'>
      <thead>
        <tr>
          <th width="30"></th>
          <th><%= title %></th>
          <th width="60">PV</th>
          <th width="90">Total Value</th>
          <th width="120">Member Special</th>
        </tr>
      </thead>
      <tbody>
        <% t["products"].each do |p|%>
        <tr>
          <td class='text-center'>
            <input type="checkbox" name='promotional_pack' class='promotional_pack' value="<%= variant_id p%>" 
             data-image="<%= product_image_url @entry_kit %>" data-name="<%= p['name']%>"  data-price="<%= p['price']%>" data-pv='<%= product_pv p %>'>
          </td>
          <td>
            <div class='signUpPackItem'>
              <%= product_image p %>
              <div class='packInfo packInfoBasi'>
                <h6><%= p['name']%></h6>
                <p><%= p['description']%></p>
              </div>
              <p class='packInfoP'></p>
            </div>
          </td>
          <td><%= product_pv p %></td>
          <td><%= number_to_currency p["suggested-price"] %></td>
           <td><%= number_to_currency p["price"]  %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>