<div class='row panel radius signUpContainer' id='step_1' style='display:none;'>
  <ul class="sign-up-step step-1 text-center clearfix">
    <li class="current">
      SELECTION
    </li>
    <li>SPONSOR</li>
    <li>PRODUCTS</li>
    <li class="account">ACCOUNT</li>
    <li class="checkout">CHECKOUT</li>
  </ul>

  <h4>
    START FOR A NEW APPLICANT<br/>
    <small>
      Please select the type of the new applicant below.
    </small>
  </h4>
  <!-- signUpCon start -->
  <div class='panel signUpCon'>
    <form id="step1" novalidate="novalidate">
      <!--<h5>Sponsor Info</h5>-->
      <div class="row formItem">
        <div class='small-12 columns text-left'>
          <% @roles.each_with_index do |r, i| %>
          <label for="radio<%= i%>" class='accountTypeRadio'>
            <input type="radio" id="radio<%= i%>" name="role_code" class='role_code'  value="<%= r['code']%>">
            <h6><%= r['name'] %></h6>
            <p><%= r['desc']%></p>
          </label>
              <% if @roles.length != (i + 1) %>
              <hr>
              <% end %>
          <% end %>
        </div>
      </div>
      
      <div class="row formItem">
        <div class='small-12 columns text-left'>
          <input type="submit" class='button tiny' value="Continue" id="step1_submit">
        </div>
      </div>
    </form>
  </div>
  <!-- signUpCon end -->
</div>
<!-- signUpContainer end -->