<!-- signUpContainer start -->
<script type="text/javascript">
  var countries_states = <%== @countries_states.to_json %>;
</script>

<div class="signup">
  <%= render 'step1'%>
  <%= render 'step2'%>
  <%= render 'step3'%>
  <%= render 'step4'%>
  <%= render 'step5'%>
  <%= render 'step6'%>
</div>

<%= content_for :footer_js do %>
    <%= javascript_include_tag :signup %>
<script>



$(document).foundation();

function stepControl(pStep){
  $('.signUpContainer').hide();
  $(pStep).show();
}

$(document).ready(function(){
  if(window.location.hash){
    stepControl(window.location.hash);
  }else{
    stepControl('#step_1');
  }
    
});

$(window).bind("hashchange", function(){
  if(window.location.hash){
    stepControl(window.location.hash);
  }else{
    stepControl('#step_1');
  }
});
</script>

<% end %>

