



  <% @taxons.each do |t|%>
  
  <% if t["id"] == 1 %>
  <%= render "member_ship", :t => t%>
  <% else %>
  <h5><%= t['name']%></h5>
  
  <%= render "normal_products", :t => t, :title => "Item" if !t["products"].blank?%>
  <% t["sub-taxons"].each do |tt|%>
    <% if tt['parent_id'] == 4 %>
      <%= render "onetime_products", :t => tt, :title =>  tt["name"] if !tt["products"].blank?%>
    <% else %>
      <%= render "normal_products", :t => tt, :title => tt["name"] %>
    <% end %>
  <% end %>
  <% end %>
  


  <% end %>